<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:include="backstage/common::commonHeader"></div>
    <style>
        #content{
            width: 1200px;
            height: 600px;
            margin-top: 20px;
            margin-left: 300px;
            border: 1px solid blue;
            float: left;

        }
        .psdUpdate{
            margin-left: 400px;
            margin-top: 20px;
        }

        .psdUpdate label{
            font-weight: bolder;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div th:replace="backstage/common::#commonSideBar"></div>
<div th:replace="backstage/common::#commonHeader"></div>
<div id="content">
    <div class="psdUpdate">
        <el-form label-position="left" label-width="130px" :model="formPsdInfo" :rules="rules" ref="ruleForm">
            <el-form-item label="旧密码" style="width: 400px" prop="oldPsd">
                <el-input v-model="formPsdInfo.oldPsd"
                          prefix-icon="el-icon-lock" type="password"
                          autocomplete="off" placeholder="请输入确认密码" show-password></el-input>
            </el-form-item>
            <br>
            <el-form-item label="新密码" style="width: 400px" prop="newPsd">
                <el-input v-model="formPsdInfo.newPsd"
                          prefix-icon="el-icon-lock" type="password"
                          autocomplete="off" placeholder="请输入确认密码" show-password
                ></el-input>
            </el-form-item>
            <br>
            <el-form-item label="确认新密码" style="width: 400px" prop="confirmPsd">
                <el-input v-model="formPsdInfo.confirmPsd"
                          prefix-icon="el-icon-lock" type="password"
                          autocomplete="off" placeholder="请输入确认密码" show-password
                ></el-input>
            </el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')" style="margin-left: 180px">提交</el-button>
        </el-form>

    </div>
</div>
<script>
    new Vue({
        el:".psdUpdate",
        data(){
            // 自定义密码校验
            var isPsd = (s) =>{
                return /^(?![a-zA-Z]+$)(?!\d+$)(?![^\da-zA-Z\s]+$).{6,10}$/.test(s)
            };
            let validatePsd = (rule,value,callback) =>{
                if(value===""){
                    callback(new Error("请输入密码"));
                }else
                if (!isPsd(value)) {
                    callback(new Error(
                        '密码格式要求长度在6到10字符间，且由字母、数字、特殊字符任意2种组成'
                    ))
                } else {
                    callback()
                }
            };
            // 确认密码校验
            var validatePass = (rule, value, callback) => {
                if (value === "") {
                    callback(new Error("请输入确认密码"));
                } else if (value !== this.formPsdInfo.newPsd) {
                    callback(new Error("两次输入密码不一致！"));
                } else {
                    callback();
                }
            };
            return{
                formPsdInfo:{
                    oldPsd:"",
                    newPsd:"",
                    confirmPsd:"",
                    isAdmin:true  // 总是管理员
                },
                rules:{
                    oldPsd: [{validator:validatePsd, trigger: 'blur'}],
                    newPsd: [{validator:validatePsd, trigger: 'blur'}],
                    confirmPsd:[{validator:validatePass,trigger: 'blur'}],
                }
            }
        },
        methods:{
            submitForm(form){
                this.$refs["ruleForm"].validate((valid) => {
                    if(valid){
                        const loading = this.$loading({
                            lock: true,  // 锁定屏幕的滚动
                            text: '处理中。。。',
                            spinner: 'el-icon-loading',
                            background: 'rgba(0, 0, 0, 0.7)'
                        });
                        var state=1
                        axios({
                            method:"POST",
                            url:"/updatePsd",
                            dataType:"json",
                            data:this.formPsdInfo
                        }).then(res=>{
                            state=res.data.state
                        })
                        setTimeout(() => {
                            loading.close()
                            this.dialogUpdatePermission=false
                            if (state===1) {
                                this.$message({
                                    type: 'success',
                                    message: '密码修改成功!即将跳转登录页...'
                                });
                                setTimeout(()=>{
                                    window.location.href="/backstage/logout"
                                },2000)
                                this.getLevelInfo()
                            }
                            if(state===2){
                                this.$message({
                                    showClose: true,
                                    message: '旧密码错误！',
                                    type: 'error'
                                });
                            }
                            if(state===3){
                                this.$message({
                                    type: 'error',
                                    message: '系统繁忙，请稍后再试'
                                });
                            }
                        },3000);

                    }else {
                        return false;
                    }
                });

            }

        },
        created(){

        }
    })
</script>



<div th:replace="backstage/common::#commonScripts"></div>
</body>
</html>